<div class="page-header">
  <%= link_to new_group_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Group
  <% end %>
  <h1>Listing groups</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Level</th>
            <th>Name</th>
            <th>Teacher</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @groups) do |group| %>
            <td><%= group.level %></td>
            <td><%= group.name %></td>
            <td><%= group.teacher.name %></td>
            <%#TODO lonely op here%>
            <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
